<div class="app">
  <div class="tab-wrapper">
    <!-- <div class="displayr">
      <router-outlet></router-outlet>
    </div> -->
    <div class="header-styler">
      <img src="assets/img/pirat.png" class="icon" />
    </div>
    <mat-tab-group disableRipple>
      <mat-tab label="Home">
        <div class="map-container">
          <app-home-component></app-home-component>
        </div>
      </mat-tab>
      <mat-tab label="Gallery">
        <div class="map-container">
          <app-gallery></app-gallery>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="footer">
    <app-clock-component></app-clock-component>
  </div>
</div>
