
.app {
  height: 100vh;

  .navigation-bar {
    display: flex;
    position: relative;
    height: 4.5rem;
    width: 100%;

    background-color: #0b0f1f;

    border-bottom-style: solid;
    border-bottom-color: #162a3a;
    border-bottom-width: .062rem;

    .logos {
      width: auto;
    }

    .navigation-links {

      .menu-item {
        background-color: #0b0e1d;
      }
    }
  }

  .content {
    display: flex;
    position: relative;
    justify-content: center;

    height: calc(100vh - 6rem);

    background-color: #121525;

    .scene {
      width: 75%;
      color: white;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1.5rem;
    background-color: #22beee;
    color: white;

    .clock {
      width: 6rem;
    }
  }
}
