<div class="app {{ currentTheme }}">
  <div class="tab-wrapper">
    <!-- <div class="displayr">
      <router-outlet></router-outlet>
    </div> -->
    <div class="header-styler">
      <!-- <img src="assets/img/pirat.png" class="icon" /> -->
      <span class="icon">=^.^=</span>
    </div>
    <mat-tab-group disableRipple>
      <mat-tab label="Home">
        <div class="map-container-wrapper">
          <div class="map-container">
            <app-home-component></app-home-component>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Gallery">
        <div class="map-container-wrapper">
          <div class="map-container">
            <app-gallery></app-gallery>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="footer">
    <div class="left-sided">
      <app-color-picker-component></app-color-picker-component>
    </div>
    <div class="right-sided">
      <app-clock-component></app-clock-component>
    </div>
  </div>
</div>
