
.app {
  height: 100vh;

  .navigation-bar {
    position: relative;
    height: 4rem;

    background-color: #11172e;

    border-bottom-style: solid;
    border-bottom-color: #162a3a;
    border-bottom-width: .062rem;

    .menu-item {
    background-color: #0b0e1d;
    }
  }

  .content {
    height: calc(100vh - 5rem);
    position: relative;

    background-color: #121525;

    .arrow-button {
      position: absolute;
      width: 4rem;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #11172e;
      // color: #202a4e;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }

      .label {
      }
    }
  }

  .footer {
    height: 1rem;
    background-color: #11172e;
  }
}
