/* You can add global styles to this file, and also import other style files */

/* body margin fix here */

body {
  margin: 0;
}

/* mat-tabs fixes here */

.mat-tab-group {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

/* pirate-inspired style here */

.mat-tab-header {
  height: 4rem;
  border-style: solid;
  border-width: 0 0 .3rem 0;
  border-color: #574728;

  .mat-tab-labels {
    display: flex;
    height: 4rem;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5rem;

    .mat-tab-label {
      border-style: groove;
      border-width: 0 0 0 0;
      border-color: white;
    }

    & :not(:first-child) {
      border-width: 0 0 0 1px;
    }
  }
}

.header-styler {
  background-image: url("assets/img/dark-wood-texture.png");
  position: absolute;
  z-index: 0;
  left: 0;
  height: 4rem;
  width: 100%;

  .icon {
    // display: none;
    height: 3rem;
    margin: .5rem;
    image-rendering: pixelated;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
  }
}

.map-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #b8a678;
  background-image: url("assets/img/map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  box-sizing: border-box; // avoid for padding to resize container
  display: flex;
  align-self: flex-start;

  & >::after {
    position: fixed;
    z-index: -1;
    content: "";
    height: 100vh;
    width: 100%;
    top: 4.3rem;
    left: 0;
    background-image: url("assets/img/awa.jpeg");
  }

  .map-container {
    position: relative;
    height: 60%;
    width: 65%;
  }
}

.footer {
  .clock {
    display: flex;
    width: 6rem;
    justify-content: flex-start;
  }
}
