/* You can add global styles to this file, and also import other style files */

/* body margin fix here */

body {
  margin: 0;
}

/* mat-tabs fixes here */

.mat-tab-group {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.icon {
  height: 3rem;
  image-rendering: pixelated;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

/* pirate-inspired style here */

.mat-tab-header {
  background-image: url("assets/img/old-wood-texture.png");
  border-style: solid;
  border-width: 0 0 .7rem 0;
  border-color: #432916;

  & ::after {
    border-style: solid;
    border-width: 0 0 .2rem 0;
    border-color: #27180d;
  }
}
