/* You can add global styles to this file, and also import other style files */

@import './variables.scss';
@import './theme.scss';

/* body margin fix here */

body {
  margin: 0;
  font-family: Helvetica;
  color: #525252;
}

/* mat-tabs fixes here */

.mat-tab-group {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;

  .mat-tab-body.mat-tab-body-active {
    z-index: 0;
  }
}

/* simplist style here */

.mat-tab-header {
  height: 4rem;
  padding-left: 9.5rem;

  .mat-tab-labels {
    display: flex;
    height: 4rem;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    .mat-tab-label {
      border-style: solid;
      border-width: 0 0 0 0;
      color: #fff8fb;
      border-color: #fff8fb;
      opacity: 1;
      font-weight: 900;
      letter-spacing: .093rem;
      filter: drop-shadow($shadow-emphasis);
    }

    & :not(:first-child) {
      border-width: 0 0 0 .062rem;
    }
  }
}

.header-styler {
  // background-image: url("assets/img/dark-wood-texture.png");
  display: flex;
  position: absolute;
  z-index: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
  // border-style: solid;
  // border-width: 0 0 .062rem 0;
  // border-color: #f3afbc;
  filter: drop-shadow(0 -1rem 1rem #525252);
  background-color: #fde9f2;

  .icon {
    // display: none;
    // height: 3rem;
    // margin: .5rem;
    // color: #ffa9ea;
    color: #fff8fb;
    font-family: monospace;
    font-size: 3rem;
    filter: drop-shadow($shadow-emphasis);
    // image-rendering: pixelated;
    // filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
  }
}

.map-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #b8a678;
  // background-image: url("assets/img/map.png");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  height: 100%;
  box-sizing: border-box; // avoid for padding to resize container
  display: flex;
  align-self: flex-start;

  .map-container {
    position: relative;
    height: 100%;
    width: 65%;
  }
}

.footer {
  background-color: #fde9f2;
  border-top-style: solid;
  border-color: #e0e0e0;
  border-width: .093rem;

  .clock {
    display: flex;
    width: 7rem;
    justify-content: flex-start;
    letter-spacing: .062rem;
    filter: drop-shadow($shadow-emphasis);
  }
}
