/* You can add global styles to this file, and also import other style files */

/* body margin fix here */

body {
  margin: 0;
}

/* mat-tabs fixes here */

.mat-tab-group {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.icon {
  height: 3rem;
}
